---
import BaseLayout from './BaseLayout.astro';
import '../styles/blog.css';
import { BLOG_POSTS_PATH } from '../utils/constants';

const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Published on {
            new Date(frontmatter.pubDate).toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
            })
        }
    </p>
    <p><em>{frontmatter.description}</em></p>
    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`${BLOG_POSTS_PATH}/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>

    <p>Written by {frontmatter.author}</p>
    <slot />
</BaseLayout>
