---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
import Tags from '../components/posts/Tags.astro';

const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
  {
    frontmatter.image && (
      <div class="featured-image-container">
        <Image
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          width={1200}
          height={630}
          class="featured-image"
          quality="max"
        />
      </div>
    )
  }
  <article class="post">
    <p>
      Published on {
        new Date(frontmatter.pubDate).toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })
      }
    </p>
    <p><em>{frontmatter.description}</em></p>
    <Tags tags={frontmatter.tags} />
    <p>Written by {frontmatter.author}</p>
    <slot />
  </article>
</BaseLayout>

<style>
  .featured-image-container {
    width: 100vw;
    transform: translateX(-50%);
    max-width: var(--container-max-width);
    margin: var(--space-xl) 0 var(--space-xl) 50%;
  }

  .featured-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .post {
    max-width: var(--posts-container-max-width);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }
</style>
